<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-selectel-index") %>>
          <a href="/docs/providers/selectel/index.html">selectel Provider</a>
        </li>

        <li<%= sidebar_current("docs-selectel-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-selectel-datasource-domains-domain-v1") %>>
              <a href="/docs/providers/selectel/d/domains_domain_v1.html">selectel_domains_domain_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-datasource-domains-zone-v2") %>>
              <a href="/docs/providers/selectel/d/domains_zone_v2.html">selectel_domains_zone_v2</a>
            </li>
            <li<%= sidebar_current("docs-selectel-datasource-domains-rrset-v2") %>>
              <a href="/docs/providers/selectel/d/domains_rrset_v2.html">selectel_domains_rrset_v2</a>
            </li>
            <li<%= sidebar_current("docs-selectel-datasource-dbaas-datastore-type-v1") %>>
              <a href="/docs/providers/selectel/d/dbaas_datastore_type_v1.html">selectel_dbaas_datastore_type_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-datasource-dbaas-available-extension-v1") %>>
              <a href="/docs/providers/selectel/d/dbaas_available_extension_v1.html">selectel_dbaas_available_extension_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-datasource-dbaas-configuration-parameter-v1") %>>
              <a href="/docs/providers/selectel/d/dbaas_configuration_parameter_v1.html">selectel_dbaas_configuration_parameter_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-datasource-dbaas-prometheus-metric-token-v1") %>>
              <a href="/docs/providers/selectel/d/dbaas_prometheus_metric_token_v1.html">selectel_dbaas_prometheus_metric_token_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-datasource-mks-feature-gates-v1") %>>
              <a href="/docs/providers/selectel/d/mks_feature_gates_v1.html">selectel_mks_feature_gates_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-datasource-mks-admission-controllers-v1") %>>
              <a href="/docs/providers/selectel/d/mks_admission_controllers_v1.html">selectel_mks_admission_controllers_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-datasource-mks-kubeconfig-v1") %>>
              <a href="/docs/providers/selectel/d/mks_kubeconfig_v1.html">selectel_mks_kubeconfig_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-datasource-mks-kube-versions-v1") %>>
              <a href="/docs/providers/selectel/d/mks_kube_versions_v1.html">selectel_mks_kube_versions_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-selectel-resource-vpc") %>>
          <a href="#">VPC Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-selectel-resource-vpc-floatingip-v2") %>>
              <a href="/docs/providers/selectel/r/vpc_floatingip_v2.html">selectel_vpc_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-vpc-keypair-v2") %>>
              <a href="/docs/providers/selectel/r/vpc_keypair_v2.html">selectel_vpc_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-vpc-license-v2") %>>
              <a href="/docs/providers/selectel/r/vpc_license_v2.html">selectel_vpc_license_v2</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-vpc-project-v2") %>>
              <a href="/docs/providers/selectel/r/vpc_project_v2.html">selectel_vpc_project_v2</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-vpc-role-v2") %>>
              <a href="/docs/providers/selectel/r/vpc_role_v2.html">selectel_vpc_role_v2</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-vpc-subnet-v2") %>>
              <a href="/docs/providers/selectel/r/vpc_subnet_v2.html">selectel_vpc_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-vpc-token-v2") %>>
              <a href="/docs/providers/selectel/r/vpc_token_v2.html">selectel_vpc_token_v2</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-vpc-user-v2") %>>
              <a href="/docs/providers/selectel/r/vpc_user_v2.html">selectel_vpc_user_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-selectel-resource-mks") %>>
          <a href="#">MKS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-selectel-resource-mks-cluster-v1") %>>
              <a href="/docs/providers/selectel/r/mks_cluster_v1.html">selectel_mks_cluster_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-mks-nodegroup-v1") %>>
              <a href="/docs/providers/selectel/r/mks_nodegroup_v1.html">selectel_mks_nodegroup_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-selectel-resource-domains") %>>
          <a href="#">Domains Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-selectel-resource-domains-domain-v1") %>>
              <a href="/docs/providers/selectel/r/domains_domain_v1.html">selectel_domains_domain_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-domains-record-v1") %>>
              <a href="/docs/providers/selectel/r/domains_record_v1.html">selectel_domains_record_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-domains-zone-v2") %>>
              <a href="/docs/providers/selectel/r/domains_zone_v2.html">selectel_domains_zone_v2</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-domains-rrset-v2") %>>
              <a href="/docs/providers/selectel/r/domains_rrset_v2.html">selectel_domains_rrset_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-selectel-resource-dbaas") %>>
          <a href="#">DBaaS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-selectel-resource-dbaas-database-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_database_v1.html">selectel_dbaas_database_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-mysql-database-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_mysql_database_v1.html">selectel_dbaas_database_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-postgresql-database-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_postgresql_database_v1.html">selectel_dbaas_database_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-mysql-datastore-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_mysql_datastore_v1.html">selectel_dbaas_datastore_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-postgresql-datastore-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_postgresql_datastore_v1.html">selectel_dbaas_datastore_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-redis-datastore-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_redis_datastore_v1.html">selectel_dbaas_datastore_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-datastore-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_datastore_v1.html">selectel_dbaas_datastore_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-extension-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_extension_v1.html">selectel_dbaas_extension_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-postgresql-extension-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_postgresql_extension_v1.html">selectel_dbaas_extension_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-grant-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_grant_v1.html">selectel_dbaas_grant_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-user-v1") %>>
              <a href="/docs/providers/selectel/r/dbaas_user_v1.html">selectel_dbaas_user_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-prometheus-metric-token-v1") %>>
              <a href="/docs/providers/selectel/r/selectel_dbaas_prometheus_metric_token_v1.html">selectel_dbaas_prometheus_metric_token_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-dbaas-logical-replication-slot-v1") %>>
              <a href="/docs/providers/selectel/r/selectel_dbaas_logical-replication-slot_v1.html">selectel_dbaas_logical_replication_slot_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-selectel-resource-craas") %>>
          <a href="#">CRaaS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-selectel-resource-craas-registry-v1") %>>
              <a href="/docs/providers/selectel/r/craas_registry_v1.html">selectel_craas_registry_v1</a>
            </li>
            <li<%= sidebar_current("docs-selectel-resource-craas-token-v1") %>>
              <a href="/docs/providers/selectel/r/craas_token_v1.html">selectel_craas_token_v1</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
